<!DOCTYPE HTML>
<html>
<head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
	
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.15.1/angular-translate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.15.1/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.15.1/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Raleway:regular,black,bold" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	
	
	<!-- <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.6/summernote.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="./css/login.min.css">
	<!-- <script src="/client/js/summernote-0.8.1.js"></script> -->
    <script src="./js/login.js"></script>
	
</head>

<body ng-app="loginApp" ng-controller="loginCtrl">

<div class="container">
	<nav class="login-div">
		<div class="row">
			<div class="col-md-12 ">
				<div class="login-img-logo"></div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-9 ">
				<div class="login-img-system"></div>
				<div class="login-title">{{'LOGIN-TITLE' | translate}}</div>

				<div class="row">
					<div class="col-md-6 login-desc">{{'LOGIN-INTRO-PORTAL' | translate}}</div>
					<div class="col-md-6 login-desc-fail" ng-show="wrongEmail || wrongPassword">{{errorText | translate}}</div>
				</div>
				
				<form ng-submit="login($event)">  

					<div class="row" ng-class="{'login-input-area':wrongEmail}">
						<div class="col-md-2 login-imgUser" ng-class="{inputLoginFailImg:wrongEmail}" ng-style="alterErrorBoxImage"></div>
						<input class="col-md-10 input-email" ng-class="{inputLoginFail:wrongEmail}" ng-style="alterErrorBorder" type="text" name="email" placeholder="{{'LOGIN-INPUT-EMAIL-PLACEHOLDER' | translate}}" ng-model="email">
					</div>

					<div class="row" ng-class="{'login-input-area':wrongPassword}">
						<div class="col-md-2 login-imgPassword" ng-class="{inputLoginFailImg:wrongPassword}" ng-style="alterErrorBoxImage"></div>
						<input class="col-md-10 input-senha" ng-class="{inputLoginFail:wrongPassword}" ng-style="alterErrorBorder" type="password" name="password" placeholder="{{'LOGIN-INPUT-PASSWORD-PLACEHOLDER' | translate}}" ng-model="password">
					</div>

					<div><a href="#" class="login-forgot">{{'LOGIN-FORGOT-PASSWORD' | translate}}</a></div>
					<div><input class="login-button" type="submit" value="{{'LOGIN-BUTTON-LOGIN' | translate}}"/></div>
				
				</form>

			</div>

			<div class="login-ilustracao"></div>
			
		</div>
	</nav>
</div>


</body>

</html>