@import "../../cockpit/css/less/default";


.container-login {
    margin: 0 auto;
    top: 147px;
}


.login-img-logo {
    background-repeat: no-repeat;
    width: 123px;
    height: 48px;
    margin-left: 44%;
    position: relative;
    margin-top: 66px;
}

.login-img-system {
    background-image: url(/img/logoSystem.svg);
    background-repeat: no-repeat;
    width: 52px;
    height: 31px;
    position: relative;
    margin-top: 66px;
    margin-left: 150px;
}

 
.login-title {
    width: 83px;
    height: 35px;
    font-family: 'Raleway';
    font-size: 29px;
    font-weight: 900;
    line-height: 35px;
    color: #232323;
    margin-left: 150px;
    margin-top: 15px;
}

.login-desc {
    width: 210px;
    height: 40px;
    font-family: Raleway;
    font-size: 16px;
    line-height: 20px;
    color: #232323;
    margin-left: 150px;
    margin-top: 15px;
}


.login-desc-fail {
    width: 188px;
    height: 40px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    line-height: 20px;
    margin-left: 50px;
    margin-top: 15px;
    color: #CF2121; 
}


/* Text box  */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



.login-imgUser{
    background-image: url(/img/loginUser.svg);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center;
    background-color: @baseColor;
    width: 34.18px;
    height: 28.29px;
    position: relative;
    margin-top: 30px;
    margin-left: 165px;
    z-index: 1;
}



.login-imgPassword{
    background-image: url(/img/loginPassword.svg);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center;
    background-color: @baseColor;
    width: 34.18px;
    height: 28.29px;
    position: relative;
    margin-top: 5px;
    margin-left: 165px;
    z-index: 1;
}


.input-email{
    box-sizing: border-box;
    width: 390px;
    height: 28.29px;
    border: 1px solid @baseColor;
    margin-left: -8px;
    margin-top: 30px;
    background: transparent;
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 19px;
    color: #232323; 
   
}


.input-senha{
    box-sizing: border-box;
    width: 390px;
    height: 28.29px;
    border: 1px solid @baseColor;
    margin-left: -8px;
    margin-top: 5px;
    background: transparent;
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 19px;
    color: #232323   ;
   
}


.login-forgot,
.login-forgot:link,
.login-forgot:visited,
.login-forgot:hover,
.login-forgot:active
{
    width: 186px;
    height: 16px;
    font-family: Raleway;
    font-size: 14px;
    line-height: 16px;
    color: #A1A1A1;
    margin-left: 290px;
    margin-top: 40px;
    position: absolute;
    text-decoration: underline;
}


.login-button,
.login-button:hover,
.login-button:active,
.login-button:visited,
.login-button:focus {
    background-color: @baseColor;
    margin-left: 460px;
    margin-top: 30px;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 6px 30px;
    color: #FFFFFF;
    position: absolute;
    text-decoration: none;
     border: 0px solid @baseColor;
}



.login-ilustracao {
    background: url('/img/ilustracaoLogo.svg') no-repeat;
    background-size: 300px 454px;
    width:300px;
    height:454px;
    position:absolute;
    margin-top:66px;
    margin-left:710px
}



@keyframes treme {
  0% {margin-left: 0;}
  25% {margin-left: 3px;}
  50% {margin-left: 0;}
  75% {margin-left: -3px;}
  100% {margin-left: 0;}
}

.login-input-area {
    animation:treme 0.2s;
    animation-iteration-count:1;
}

.inputLoginFail {
    border: 1px solid rgba(207,33,33,1);
}

.inputLoginFailImg {
    background-color:rgba(207,33,33,1);
}


