/* IMG LOADING */ 
.imageLoading {
    background-image:url('../img/logo-kmvantagens.png');
    background-repeat:no-repeat;
	top: 270px;
	position: absolute;
	width:123px;
    height:86px;
	margin: 0 auto;
	animation-name: stretch;
	animation-duration: 1.0s; 
	animation-timing-function: ease-out; 
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;
}

/* The Magic Float Center Code */
.image-pos-center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

.image-pos-center > .child {
    position: relative;
    left: 50%;
}


/* Animation */
@keyframes stretch {
  0% {
    transform: scale(.5);
  }
  50% {
	transform: scale(1.0);
  }
}





/* REPORT ANIMATION LOADING */ 
#animationReport {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


.reportIframe{
    visibility: hidden;
    margin-left:10px;
    width: 1017px;
}