<html>

<head>
	<!--  QLIK MASHUP HEAD -->
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta http-equiv="cleartype" content="on">

	<!--  OTHERS -->
	<script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
	
	 
	<!--  BOOTSTRAP AND FONT -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Raleway:regular,black,bold" rel="stylesheet">

	
	<!--  EXPORT PDF -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
	<script src="../../js/controller/dashboards/library/export_pdf.js"></script>


	<!-- CSS PAGE AND CSS QLIK -->
	<link href="../../css/question.min.css" rel="stylesheet">
	<link href="../../css/qlik-design-custom.min.css" rel="stylesheet">


	<!--  PROD CONECTOR QLIK (AngularJS v1.5.8) -->
	<link rel="stylesheet" href="/qlik-login?targetUri=https://qlik-everis.everisva.com/resources/autogenerated/qlik-styles.css">
    <script src="/qlik-login?targetUri=https://qlik-everis.everisva.com/resources/assets/external/requirejs/require.js"></script>
	

	<!--  CONTROLLER AND IMPORT MODULES IN CONTROLLER-->
	<script src="../../js/controller/dashboards/question_qlik.js"></script>
	<script src="../../js/controller/dashboards/library/qlik_modules.js"></script>

	
	<!-- ANGULAR TRANSLATE -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.6.1/angular-translate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-loader-static-files/2.6.1/angular-translate-loader-static-files.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-storage-local/2.6.1/angular-translate-storage-local.min.js"></script>


	<!-- DIALOG -->
	<link href="../../js/controller/dashboards/library/external/dialogs/dialogs.css" rel="stylesheet" type="text/css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.4.0/ui-bootstrap-tpls.min.js"></script>
	<script src="../../js/controller/dashboards/library/external/dialogs/dialogs.js"></script>

	
	<!-- TOOLTIP -->
	<script src="../../js/controller/dashboards/library/external/angular-tooltips/angular-tooltips.min.js"></script>
	<link href="../../js/controller/dashboards/library/external/angular-tooltips/angular-tooltips.min.css" rel="stylesheet" type="text/css" />


	<!-- GERAL PARAMETERS -->
	<script src="../../js/controller/dashboards/library/qlik_parms.js"></script>
	
	<!-- GERAL FUNCTIONS -->
	<script src="../../js/controller/dashboards/library/qlik_functions.js"></script>

</head>


<body ng-app="qlikCockpitApp" ng-controller="questionQlikCtrl" style="background-color:#e6eeef;margin-left: 7px;">


	<!--  Report Qlik  -->
	<div class="row" id="content">   
		
		<!--  Header filter  -->
		<div class="row">
			<div class="col-md-2 label-filter">{{'SATISFACTION-FILTER-LABEL' | translate}}</div>
			<div class="col-md-8 bar-background-filter">
				<div class="row">
					<div class="col-md-2 qlik-filter-label-position-colA">{{'SATISFACTION-FILTER-DATA-NAME' | translate}}</div>
					<div id="FILTER_QUESTION_DATE_3" class="col-md-2 qlik-filter-position"></div>
					<div class="col-md-2 qlik-filter-label-position-colB">{{'QUESTION-FILTER-CONTENT' | translate}}</div>
					<div id="FILTER_QUESTION_FAQ" class="col-md-2 qlik-filter-position"></div>
				</div>
				<div class="row">
					<div class="col-md-2 qlik-filter-label-position-colA">{{'QUESTION-FILTER-STATUS' | translate}}</div>
					<div id="FILTER_QUESTION_ANSWER_STATUS" class="col-md-2 qlik-filter-position"></div>
					<div class="col-md-2 qlik-filter-label-position-colB">{{'SESSION-FILTER-CHANNEL-TYPE' | translate}}</div>
					<div id="FILTER_QUESTION_CHANNEL_CLASSIFICATION" class="col-md-2 qlik-filter-position"></div>
				</div>
				<div class="row">
					<div class="col-md-2 qlik-filter-label-position-colA">{{'SESSION-FILTER-CHANNEL' | translate}}</div>
					<div id="FILTER_QUESTION_CHANNEL" class="col-md-2 qlik-filter-position"></div>
					<div class="col-md-2 qlik-filter-label-position-colB">{{'QUESTION-FILTER-ASK' | translate}}</div>
					<div id="FILTER_QUESTION_USER" class="col-md-2 qlik-filter-position"></div>
					
					<!--  Tooltip description -->
					<div class="col-md-1 tooltip-position-filters-container" ng-show="isNotAdmin">
						<img class="button-informative" tooltips tooltip-hide-trigger="click" tooltip-side="bottom"
							tooltip-class="label-description tooltip-filters-size" tooltip-template="{{ htmlTooltipDescription
								('QUESTION-TOOLTIP-DESCRIPTION-FILTERS','QUESTION-TOOLTIP-URL-FILTERS') 
							}}">
						</img>
					</div>

				</div>

				<!--  Project field to admin -->
				<div class="row" ng-hide="isNotAdmin"> 
					<div class="col-md-2 qlik-filter-label-position-colA" >{{'SATISFACTION-FILTER-PROJECT' | translate}}</div>
					<div id="FILTER_QUESTION_PROJECT" class="col-md-2 qlik-filter-position"></div>
					<div class="col-md-2 qlik-filter-label-position-colB"></div>
					<div class="col-md-2 qlik-filter-position"></div>

					<!--  Tooltip description -->
					<div class="col-md-1 tooltip-position-filters-container">
						<img class="button-informative" tooltips tooltip-hide-trigger="click" tooltip-side="bottom"
							tooltip-class="label-description tooltip-filters-size" tooltip-template="{{ htmlTooltipDescription
								('QUESTION-TOOLTIP-DESCRIPTION-FILTERS','QUESTION-TOOLTIP-URL-FILTERS') 
							}}">
						</img>
					</div>

				</div>

			</div>
			
			
			<div class="col-md-2 ">
				<button id="BUTTON_EXPORT_PDF" class="qlik-export-pdf-button" qlik-opacity="isNotSelectMinFields">
						{{'SATISFACTION-BUTTON-EXPORT-TEMPLATE' | translate}}
				</button>
			</div>

			<button class="btn-user-manual" ng-click="openUserManual('QUESTION-USER-MANUAL-URL')">
					{{'SESSION-USER-MANUAL-LABEL' | translate}}
			</button>


		</div>


		<!--  Bar filter of Qlik -->
		<div class="row position-btns-filter">
			<div class="disable-btn-filter"><i class="col-md-1 btnFilters lui-icon lui-icon--selections-back" data-qcmd="back" ></i></div>
			<div class="disable-btn-filter"><i class="col-md-1 btnFilters lui-icon lui-icon--selections-forward" data-qcmd="forward" ></i></div>
			<div class="disable-btn-filter"><i class="col-md-1 btnFilters lui-icon lui-icon--clear-selections" data-qcmd="clearAll" ></i></div>
			<div id="CurrentSelections" class="col-md-10 bar-qlik-currentSelections"></div>
		</div>
		


		<!--  Row 1  -->
		<div class="row">

			<!--  Question Bulk Container  -->
			<div class="col-md-3 bar-background-visualization" >
				<div class="row">
					<div class="col-md-3 label-name-background-short" >{{'QUESTION-TITLE-BULK' | translate}}</div>
				</div>
				<div class="row">
					<div id="KPI_QUESTION_BULK" class="col-md-3 question-qlik-question-bulk-kpi"></div>
				</div>

				<!--  Tooltip description -->
				<div class="row position-btns-informative-icon">
					<img class="button-informative" tooltips tooltip-hide-trigger="click" tooltip-side="right"
						tooltip-template="{{ htmlTooltipDescription
							('QUESTION-TOOLTIP-DESCRIPTION-QUESTION-BULK','QUESTION-TOOLTIP-URL-QUESTION-BULK') 
						}}">
					</img>
				</div>

			</div>


			<!--  Question evolution graph Container -->
			<div class="col-md-6 bar-background-visualization" id="EXPORT_IMG_EVOLUCAO_PERGUNTAS">
				<div class="row">
					<div class="col-md-2 label-name-background">{{'QUESTION-TITLE-QUESTION-EVOLUTION' | translate}}</div>
					<button type="button" class="col-md-1 qlik-export-img-button" qlik-opacity="isNotSelectMinFields" ng-click="exportPNG('CHART_QUESTION_EVOLUTION')">PNG</button>
					<div id="EXPORT_QUESTION_EVOLUTION" class="col-md-1 qlik-export-button" qlik-opacity="isNotSelectMinFields"></div>
				</div>

				<p class="label-informative-filter float_center" qlik-opacity="!isNotSelectMinFields">{{'SATISFACTION-FILTER-LIMIT-INFO' | translate}}</p>

				<div class="row">
					<div id="CHART_QUESTION_EVOLUTION" class="col-md-12 question-qlik-question-evolution-graph" qlik-opacity="isNotSelectMinFields"></div>
				</div>

				<!--  Tooltip description -->
				<div class="row position-btns-informative-icon">
					<img class="button-informative" tooltips tooltip-hide-trigger="click"
						tooltip-template="{{ htmlTooltipDescription
							('QUESTION-TOOLTIP-DESCRIPTION-QUESTION-EVOLUTION','QUESTION-TOOLTIP-URL-QUESTION-EVOLUTION') 
						}}">
					</img>
				</div>

			</div>

		</div>


		<!--  Row 2  -->
		<div class="row">

			<!--  Question status Container -->
			<div class="col-md-6 bar-background-visualization" id="EXPORT_IMG_STATUS_PERGUNTA">
				<div class="row">
					<div class="col-md-2 label-name-background" >{{'QUESTION-TITLE-ASK-STATUS' | translate}}</div>
					<button type="button" class="col-md-1 qlik-export-img-button" qlik-opacity="isNotSelectMinFields" ng-click="exportPNG('KPI_QUESTION_STATUS_TOTAL')">PNG</button>
					<div id="EXPORT_QUESTION_STATUS_TOTAL" class="col-md-2 qlik-export-button" qlik-opacity="isNotSelectMinFields"></div>
				</div>
				<div class="row">
					<div id="KPI_QUESTION_STATUS_TOTAL" class="col-md-12 question-qlik-question-kpi"></div>
					<div id="KPI_QUESTION_TRANSACIONAL_STATUS" class="col-md-12 question-qlik-transacional-question-kpi" ></div>
				</div>
				<div class="row">
					<div id="BAR_QUESTION_STATUS_TOTAL_PERCENTAGE" class="col-md-12 question-qlik-question-kpi-bar"></div>
				</div>
				<div class="row">
					<div id="KPI_QUESTION_FOUND_STATUS" class="col-md-12 question-qlik-question-kpi"></div>
					<div id="KPI_QUESTION_CHIT_CHAT_STATUS" class="col-md-12 question-qlik-chit-chat-question-kpi"></div>
					<div id="KPI_QUESTION_FOUND_NOT_STATUS" class="col-md-12 question-qlik-negative-question-kpi" ></div>
				</div>
				<div class="row">
					<div id="BAR_QUESTION_ALL_STATUS" class="col-md-12 question-qlik-question-kpi-bar"></div>
				</div>

				<!--  Tooltip description -->
				<div class="row position-btns-informative-icon">
					<img class="button-informative" tooltips tooltip-hide-trigger="click"
						tooltip-template="{{ htmlTooltipDescription
							('QUESTION-TOOLTIP-DESCRIPTION-ASK-STATUS','QUESTION-TOOLTIP-URL-ASK-STATUS') 
						}}">
					</img>
				</div>

			</div>


			<!--  Average of questions/users  -->
			<div class="col-md-3 bar-background-visualization">
				<div class="row">
					<div class="col-md-3 label-name-background-short">{{'QUESTION-TITLE-DAILY-AVERAGE' | translate}}</div>
				</div>
				<div class="row">
					<div id="KPI_QUESTION_USER_BY_DAILY_AVERAGE" class="col-md-3 question-qlik-questions-by-user-average-kpi"></div>
				</div>

				<!--  Tooltip description -->
				<div class="row position-btns-informative-icon">
					<img class="button-informative" tooltips tooltip-hide-trigger="click"
						tooltip-template="{{ htmlTooltipDescription
							('QUESTION-TOOLTIP-DESCRIPTION-DAILY-AVERAGE','QUESTION-TOOLTIP-URL-DAILY-AVERAGE') 
						}}">
					</img>
				</div>

			</div>

		</div>



		<!--  Row 3 -->
		<div class="row">

			<!--  Questions by channel in donut graph -->
			<div class="col-md-3 bar-background-visualization" id="EXPORT_IMG_PERGUNTAS_POR_CANAL">
				<div class="row">
					<div class="col-md-3 label-name-background-short" >{{'QUESTION-TITLE-QUESTION-COUNT' | translate}}</div>
					<button type="button" class="col-md-1 qlik-export-img-button" qlik-opacity="isNotSelectMinFields" ng-click="exportPNG('CHARTDONUT_QUESTION_COUNT')">PNG</button>
					<div id="EXPORT_QUESTION_COUNT" class="col-md-2 qlik-export-button" qlik-opacity="isNotSelectMinFields"></div>
				</div>

				<p class="label-informative-filter float_center" qlik-opacity="!isNotSelectMinFields">{{'SATISFACTION-FILTER-LIMIT-INFO' | translate}}</p>

				<div class="row">
					<div id="CHARTDONUT_QUESTION_COUNT" class="col-md-3 question-qlik-questions-by-channel-donut" qlik-opacity="isNotSelectMinFields"></div>
				</div>

				<!--  Tooltip description -->
				<div class="row position-btns-informative-icon">
					<img class="button-informative" tooltips tooltip-hide-trigger="click"
						tooltip-template="{{ htmlTooltipDescription
							('QUESTION-TOOLTIP-DESCRIPTION-QUESTION-COUNT','QUESTION-TOOLTIP-URL-QUESTION-COUNT') 
						}}">
					</img>
				</div>

			</div>			

			<!-- Satisfaction survey -->
			<div class="col-md-3 bar-background-visualization satisfaction-graf" id="EXPORT_IMG_PESQUISA_SATISFACAO">
				<div class="row">
					<div class="col-md-3 label-name-background-short" >{{'QUESTION-TITLE-SATISFACTION-SURVEY' | translate}}</div>
					<button type="button" class="col-md-1 qlik-export-img-button" qlik-opacity="isNotSelectMinFields"  ng-click="exportPNG('CHARTDONUT_QUESTION_SATISFACTION_SURVEY')">PNG</button>
					<div id="EXPORT_QUESTION_SATISFACTION_SURVEY" class="col-md-2 qlik-export-button" qlik-opacity="isNotSelectMinFields"></div>
				</div>

				<p class="label-informative-filter float_center" qlik-opacity="!isNotSelectMinFields">{{'SATISFACTION-FILTER-LIMIT-INFO' | translate}}</p>

				<div class="row">
					<div id="CHARTDONUT_QUESTION_SATISFACTION_SURVEY" class="col-md-3 question-qlik-questions-by-channel-donut" qlik-opacity="isNotSelectMinFields"></div>
				</div>

				<!--  Tooltip description -->
				<div class="row position-btns-informative-icon">
					<img class="button-informative" tooltips tooltip-hide-trigger="click"
						tooltip-template="{{ htmlTooltipDescription
							('QUESTION-TOOLTIP-DESCRIPTION-SATISFACTION-SURVEY','QUESTION-TOOLTIP-URL-SATISFACTION-SURVEY') 
						}}">
					</img>
				</div>
				
			</div>

		</div>



		<!--  Row 4  -->
		<div class="row">

			<!-- User questions -->
			<div class="col-md-6 bar-background-visualization user-questions" id="EXPORT_IMG_PERGUNTAS_POR_USUARIO">
				<div class="row">
					<div class="col-md-2 label-name-background">{{'QUESTION-TITLE-USERS-QUESTIONS' | translate}}</div>
					<button type="button" class="col-md-1 qlik-export-img-button" qlik-opacity="isNotSelectMinFields"  ng-click="exportPNG('TABLE_QUESTIONS_TOP5')">PNG</button>
					<div id="EXPORT_QUESTIONS_TOP5" class="col-md-2 qlik-export-button" qlik-opacity="isNotSelectMinFields"></div>
				</div>

				<p class="label-informative-filter float_center" qlik-opacity="!isNotSelectMinFields">{{'SATISFACTION-FILTER-LIMIT-INFO' | translate}}</p>

				<div class="row">
					<div id="TABLE_QUESTIONS_TOP5" class="col-md-12 question-qlik-questions-top-table question-top" qlik-opacity="isNotSelectMinFields"></div>
				</div>

				<!--  Tooltip description -->
				<div class="row position-btns-informative-icon">
					<img class="button-informative" tooltips tooltip-hide-trigger="click"
						tooltip-template="{{ htmlTooltipDescription
							('QUESTION-TOOLTIP-DESCRIPTION-USERS-QUESTIONS','QUESTION-TOOLTIP-URL-USERS-QUESTIONS') 
						}}">
					</img>
				</div>

			</div>			

		</div>
		

		<!--  Row 5  -->
		<div class="row">

			<!-- User satisfaction reviews-->
			<div class="col-md-6 bar-background-visualization">
				<div class="row">
					<div class="col-md-2 label-name-background">{{'QUESTION-TITLE-GRAPH-QUESTION-FAQ-FLOW' | translate}}</div>
					<button type="button" class="col-md-1 qlik-export-img-button" qlik-opacity="isNotSelectMinFields" ng-click="exportPNG('GRAPH_QUESTION_FAQ_FLOW')">PNG</button>
					<div id="EXPORT_QUESTION_GRAPH_FLOW_FAQ" class="col-md-2 qlik-export-button" qlik-opacity="isNotSelectMinFields"></div>
				</div>

				<p class="label-informative-filter float_center" qlik-opacity="!isNotSelectMinFields">{{'SATISFACTION-FILTER-LIMIT-INFO' | translate}}</p>

				<div class="row">
					<div id="GRAPH_QUESTION_FAQ_FLOW"  class="col-md-12 question-qlik-questions-graph-faq" qlik-opacity="isNotSelectMinFields"></div>
				</div>

				<!--  Tooltip description -->
				<div class="row position-btns-informative-icon">
					<img class="button-informative" tooltips tooltip-hide-trigger="click"
						tooltip-template="{{ htmlTooltipDescription
							('QUESTION-TOOLTIP-DESCRIPTION-GRAPH-QUESTION-FAQ-FLOW','QUESTION-TOOLTIP-URL-GRAPH-QUESTION-FAQ-FLOW') 
						}}">
					</img>
				</div>

			</div>


		</div>


		<!--  Row 6  -->
		<div class="row">
			<div class="col-md-11 bar-background-visualization-export">
				<div class="row">
					<div class="col-md-2 label-name-background" >{{'QUESTION-TITLE-QT-BY-FAQ-EXPORT' | translate}}</div>
					<div id="EXPORT_QUESTION_QT_BY_FAQ" class="col-md-7 qlik-export-button-unique" qlik-opacity="isNotSelectMinFields"></div>
				</div>
			</div>
		</div>


	</div>


</body>

</html>