@import "default";

.answer-desc-empty{
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    line-height: 24px;
    color: #373737;
    font-weight:500; 
    margin: 0 auto;
	margin-top:180px;
    top: 147px;
}

.answer-btn-create,
.answer-btn-create:hover,
.answer-btn-create:active,
.answer-btn-create:visited,
.answer-btn-create:focus {
    background-color:rgba(0,170,90,1);
    margin-left: 47px;
    margin-top: 20px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding: 6px 30px;
    color: #FFF;
    position: relative;
    text-decoration: none;
    border: 0px solid rgba(0,170,90,1);
	width: 250px;
    height: 32px;
    font-weight: 700;
}

.opacity{
    opacity:0.4;
}



//ANSWER MODAL
.answer-type-choice {
	display: inline-block;
	margin:8px;
	width: 60px;
	color: #3b3b3b;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding:4px;
	cursor: pointer;
	background: white;
}


.answer-type-choice.selected {
	color: #3b3b3b;
	background-color: #E7E7E7;

}

.answer-type-choice-empty {
	display: inline-block;
	margin:8px;
	width: 60px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding:4px;
	cursor: pointer;
	background-color: white;
	color: #373737;
}
.answer-type-choice-empty.selected {
	background-color: @dangerColor;
	color: white;
}
.answer-obox-text {
	background-color: #E7E7E7;
	border: 7px solid #E7E7E7;
	border-radius: 6px;
    margin-bottom: 16px;
}
.answer-obox-text .click-area {
	color: #373737;
	font-size: 18px;
	font-weight: bold;
	padding-left: 35px;
	background-repeat: no-repeat;
    background-position: 10px 6px;
	cursor: pointer;
}

.answer-obox-text-empty .click-area {
	color: @dangerColor;
}

.answer-obox-text .click-area.closed {
	background-image: url('/cockpit/img/closed-dir.svg');
}
.answer-obox-text .click-area.opened {
	background-image: url('/cockpit/img/opened-dir.svg');
}
.answer-modal-title {
	background: url('/cockpit/img/answer.svg') no-repeat;
    background-size: 32px;
    height: 32px;
    padding-left: 55px;
    padding-top: 3px;
    background-position-x: 3px;
    font-weight: 700;
}
.answer-modal-title span{
	font-weight: 500;
	font-size: 12px;
	color: #232323;
	font-style: italic;
}
.answer-green-dot{
	border:2px solid #00AA5A;
	background-color: #00AA5A;
	border-radius: 4px;
	width:7px;
	height:7px;
	display: inline-block;
	margin: 0 10px 1px 47px;
}
.answer-add-opt{
	color: #00AA5A;
	background: url('/cockpit/img/add-green.svg') no-repeat;
	background-size: 30px;
	height:30px;
	margin-bottom:16px;
	font-weight: bold;
	font-size: 16px;
	padding-left: 35px;
	padding-top: 5px;
	cursor: pointer;
	width:350px;
}
.answer-option-data {
	background-color: white;
	padding: 8px;
	margin-top:8px;
}
.answer-option {
	color: #00AA5A;
	font-size: 16px;
	font-weight: bold;
}
.answer-option-action {
	color: #393939;
	font-size: 14px;
	font-weight: 500;
	opacity: 0.5;
}
//ANSWER MODAL - END

.directory-new-title{

    background: url('/cockpit/img/folder.svg') no-repeat;
	background-size: 32px;
	height: 32px;
	padding-left: 55px;
	padding-top: 3px;
	background-position-x: 3px;
	font-weight: bold;
}

.directory-name{
    padding-top: 20px;
	background: url('/cockpit/img/folder.svg') no-repeat;
	background-position: 30px 15px;
	height:50px;
	padding-left:75px;
}

.directory-edit-rem {
	text-align: right;
	padding-top: 15px;
	cursor: pointer;
}

.directory-edit-rem img {
	padding-left:20px;
}

.directory-background-list{
    background-color: white;
	border-radius: 6px;
	height:61px;
	font-size: 16px;
	font-weight: bold;
	color:#373737;
	margin: 10px 0;
}


.answer-btn-create-list{
	background-color:transparent;
	border:3px solid #00AA5A;
	padding:4px 40px;
	margin-left: 24px;
	margin-top: 79px;
	color:#00AA5A;
	font-weight: 600;
	font-size: 16px;
}

.directory-background-list-parent{
    background-color: white;
	border-radius: 6px;
	height:61px;
	width: 1000px;
	font-size: 16px;
	font-weight: bold;
	color:#373737;
	
	
}

//FILTER

.answer-cointainer-filter{	
	width: 620px;
	background-color: #FFFFFF;
    margin-left: 45px;
    margin-top: 20px; 
	padding: 16px;
}


.answer-label-filter{
    height: 16px;	
    width: 35px;	
    color: #666666;	
    font-family: Raleway;	
    font-size: 14px;	
    font-weight: bold;	
    line-height: 16px;
    margin-left: 15px;
    margin-top: 35px; 
}

.answer-ID-label {
	height: 16px;
	width: 32px;
	color: #373737;
	font-family: Raleway;
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
    margin-left: 5px;
    margin-top: 18px;
}

.answer-content-name-label {
	height: 16px;
	width: 160px;
	color: #373737;	
	font-family: Raleway;	
	font-size: 14px;	
	font-weight: bold;	
	line-height: 16px;
	margin-left: 5px;
    margin-top: 8px;
}

.id-filter-select {
    background-color: #EDEDED;
	height: 32px;	
	width: 400px;
    text-indent: 10px;
    border: 0;
	opacity: 0.5;	
	color: #373737;	
	font-family: Raleway;	
	font-size: 14px;	
	font-weight: 500;	
	line-height: 16px;
	margin-top: 10px;
	margin-left: 0px;
}


.faq-filter-select {
    background-color: @baseColor;
    height: 32px;
    width: 260px;
    font-size: 14px;
    color: #fff;
    text-indent: 10px;
    border: 0;
}

.filter-bt {
	margin-top: 16px;
	text-align: right;
}

.typeahead-demo .custom-popup-wrapper {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper > .message {
	padding: 10px 20px;
	border-bottom: 1px solid #ddd;
	color: #868686;
}

.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
	position: static;
	float: none;
	display: block;
	min-width: 160px;
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}


#faq-filter-placeholder::-webkit-input-placeholder{
    color:#FFFFFF;
    font-style: bold;
}
#code-filter-placeholder::-webkit-input-placeholder{
    color:#FFFFFF;
    font-style: bold;
}


//DIR STRUCTURE
.directory-tree-box.item-closed {
	background: url('/cockpit/img/closed-dir.svg') no-repeat;
	background-position: 16px 24px;
    background-color: white;
	border-radius: 6px;
	height:61px;
	font-size: 16px;
	font-weight: bold;
	color:#373737;
	margin-top: 10px;
}
.directory-tree-box.item-opened {
	background: url('/cockpit/img/opened-dir.svg') no-repeat;
	background-position: 16px 24px;
    background-color: white;
	border-radius: 6px;
	height:61px;
	font-size: 16px;
	font-weight: bold;
	color:#373737;
	margin-top: 10px;
}
.directory-tree-name {
    padding-top: 20px;
	background: url('/cockpit/img/folder.svg') no-repeat;
	background-position: 60px 15px;
	height:50px;
	padding-left:110px;
	cursor: pointer;
	width:80%;
	display:inline-block;
}
.directory-tree-buttons {
	width:20%;
	display:inline-block;
	text-align: right;
	padding-right: 16px;
}
.directory-tree-buttons img {
	margin-right: 16px;
	cursor: pointer;
}
// .directory-tree-children {
// 	/*padding-left:50px;*/
// }
.directory-tree-btn-answer {
	background-color:#00AA5A;
	border:3px solid #00AA5A;
	padding:4px 40px;
	color:#FEFEFE;
	font-weight: 600;
	font-size: 16px;
}
.directory-tree-btn-dir {
	background-color:transparent;
	border:3px solid #00AA5A;
	padding:4px 40px;
	color:#00AA5A;
	font-weight: 600;
	font-size: 16px;
}
.diretory-tree-sepacer {
	padding-top: 15px;
}
.directory-tree-top-spacer {
	border-left: 3px solid #979797;
	border-bottom: 3px solid #979797;
	height: 45px;
}
.directory-tree-bottom-spacer {
	border-left: 3px solid #979797;
	height: 26px;
}
.directory-tree-bottom-spacer.last {
	border-left:0;
	height: 26px;
}
.directory-tree-btn-divider {
	border-top: 3px solid #979797;
	height:7px;
	width:6px;
	display: inline-block;
}
.directory-tree-line {
	background-image: url('/cockpit/img/dir_line.svg');
	background-repeat: repeat-y;
}
.directory-tree-content-box {
    background-color: @baseColor;
	border-radius: 6px;
	height:61px;
	font-size: 16px;
	font-weight: bold;
	color:#373737;
	margin-top: 10px;
}
.directory-activeGroup{
	opacity: 0.5;
}
.directory-tree-content-title {
    padding-top: 20px;
	background: url('/cockpit/img/answer_white.svg') no-repeat;
	background-position: 60px 15px;
	color: white;
	height:50px;
	padding-left:110px;
	cursor: pointer;
	width:80%;
	display:inline-block;
}
.channel-selector {
	margin-bottom: 16px;
	margin-top: 16px;
}
.channel-option {
	display: inline-block;
	padding-left:16px;
	padding-right:15px;
	border-bottom: 5px solid white;
	font-size: 14px;
	font-weight: bold;
	color: #373737;
	padding-bottom:5px;
	cursor: pointer;
}
.channel-option.selected {
	border-bottom: 5px solid @baseColor;
}
.active-channel {
	background: url('/cockpit/img/green_dot.svg') no-repeat;
	background-position: right 3px top;
    background-size: 8px;
}
.activate-channel {
	text-align: center;
	margin-top:32px;
	margin-bottom: 160px;
}
.activate-channel-text span {
    font-weight: 500;
    color: #373737;
    font-size: 20px;
	font-style: italic;
	opacity: 0.41;
	display: block;
    margin: 0 auto;
	width: 400px;
}
.option-box-text {
	display: inline-block;
	width:90%;
}
.option-box-btn {
	display: inline-block;
	width:9%;
	text-align: right;
}
.option-box-btn img {
	cursor: pointer;
}

.search-results-area {
	margin-top: 40px;
}
.no-results-found {
	color: #373737;
	font-weight: 500;
	font-size: 16px;
	text-align: center;
}
.answer-preview-relative {
	position: relative;
}
.answer-preview-absolute {
	position: absolute;
	top: 40px;
	right: 0;
}
.answer-preview-box {
	background-color: white;
    border-radius: 6px;
    min-width: 300px;
    padding: 16px;
    margin-bottom: 32px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.preview-title {
	color: white;
	font-weight: bold;
	font-size: 18px;
	text-align: left;
	padding-bottom: 10px;
}
.preview-assistant {
	color: @baseColor;
	font-size: 14px;
	font-weight: 500;
	text-align: justify;
}
.preview-text {
	background-color: @baseColor;
	border-radius: 6px;
	color: white;
	padding: 16px;
}
.preview-answer-text {
	text-align: justify;
}
.preview-options  {
	text-align: right;
}
.preview-opt-text {
	font-size: 14px;
	font-weight: 900;
}
.answer-no-preview {
	color: #9a9a9a;
    font-size: 24px;
    width: 200px;
    margin: 97px;
	text-align: center;
}

.export-bt {
    cursor: pointer;
    width: 170px;
    height: 37px;
    background-color: #00aa5a;
    border-radius: 30px;
    padding-top: 2px;
    margin-top: 79px;
	float: right;
    /* padding-top: 10px; */
}

.export-icon {
    float:left;
    width:24px;
    height:24px;
    margin-left:14px;
    background-image: url('/cockpit/img/export.svg');
    background-repeat: no-repeat;
    margin-top: 7px;
}

.export-text {
    float:left;
    color:white;
    font-size:14px;
    font-weight: bold;
    margin-top: 6px;
}

.activeGroupFilter{
	color: #373737;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-top: 8px;
}

.active-group-btn{
	color: white;
    cursor: pointer;
    float: right;
    margin-top: 20px;
    margin-right: 24px;
}