@import "default";

.header-top {
	background-color:@baseColor;
	height:74px;
}
.header-client-logo {
	background-image: url(@clientLogo);
	background-repeat: no-repeat;
	background-position-x:62px;
	height:30px;
	cursor: pointer;
}
.header-separator-top {
	height:20px;
}
.header-settings {
	background-image: url('/cockpit/img/settings.svg');
	background-size: 25px 26px;
	background-repeat: no-repeat;
	background-position-y: 3px;
	height:30px;
	cursor: pointer;
	padding-top: 3px;
}
.header-settings span{
	color:white;
	font-size:18px;
	font-weight:500;
	padding-left:20px;
	position:relative;
	top:2px;
}
.header-stg-bg {
	position: absolute;
    background-color: #E6EEEF;
    display: block;
    width: 130px;
    height: 40px;
    margin-top: -6px;
    padding-left: 0;
    margin-left: -28px;
    opacity: 0.26;
    border-radius: 20px;
}
.header-translate {
	height:30px;
	width:40px;
	text-align: center;
	transition:0.2s linear all;
	border-radius:20px;
	z-index:1;
	position: absolute;
}
.translateMenu{
    height:116px;
    background:white;
    padding-top:5px;
    position:absolute;
    border-radius:20px;
}
.translateMenu ul{
    height:110px;
    list-style:none;
    margin:0;
    padding:0;
}
.header-translate ul li{
    padding-bottom:8px;
    cursor:pointer;
}
.header-logged-user {
	background-image: url('/cockpit/img/user.svg');
	background-size: 23px 23px;
	background-repeat: no-repeat;
	background-position-y:2px;
	height:30px;
}
.header-logged-user span {
	color:white;
	font-weight:bold;
	font-size:18px;
	margin-left:20px;
	position:relative;
	top:2px;
}
.header-exit {
	color:white;
	font-size:18px;
	font-weight:500;
	position:relative;
	top:2px;
}
.header-exit:hover {
	color:white;
	text-decoration:none;
}
.header-exit:visited {
	color:white;
	text-decoration:none;
}

.header-project {
	color:white;
	font-size: 18px;
	padding-top: 4px;
}
.header-project span.fw900 {
	padding-right:15px;
}
