@import "default";

.project-title {
    text-align: center;
    margin: 70px 57px;
}
.project-title span{
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
}
.projects-list {
	width:1003px;
	margin: 0 auto;
}
.project-list-item{
	float: left;
	width:240px;
	height:266px;
	background: white;
	margin:0 32px 32px 0;
	box-shadow: 0px 0px 14px rgba(119, 119, 119, 0.82);
	border-radius: 5px;
}
.project-add {
	margin: 15px;
	height: 236px;
	width: 210px;
	border: 3px dashed #979797;
	border-radius: 5px;
	background: url('/cockpit/img/add-project-new.svg') no-repeat;
	background-position-x: 73px;
	background-position-y: 53px;
	cursor: pointer;
}
.project-add span {
	display: block;
	margin-top: 137px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #979797;
	width: 180px;
    margin-left: 12px;
}
.project-item-img {
	height: 198px;
}
.project-item-name {
	height: 68px;
	border-radius: 0 0 5px 5px;
	background-color: #dee2e3;
    cursor: pointer;
}
.project-item-name span {
	display: block;
	padding-top: 19px;
	text-align: center;
	color: #232323;
	font-size: 14px;
	font-weight: bold;
}
.project-item-icons {
    float:right;
	height: 70px;
	width: 30px;
    cursor:pointer;
	margin-right:11px;
	margin-top:11px;
}
.project-item-icons img {
	margin-bottom: 16px;
}
.inv-project-select {
    cursor: pointer;
    width:190px;
    height:187px;
    float:left;
	margin-top: 5px;
	padding-left: 5px;
}

.project-image {
	cursor: pointer;
	input{
		cursor: pointer;
		display: inline-block;
		width: 60px;
		height: 70px;
		opacity: 0;
		overflow: hidden;
	}
}

.project-image {
  	background: url(/cockpit/img/upload-image.svg) no-repeat;
	background-position-x: 23px;
    background-position-y: 22px;
	display: inline-block;
	margin-top: 5px;	
    margin-bottom: 5px;
	border: 2px dashed #979797;
    border-radius: 5px;
}

.project-image2 {
  	background: url(/cockpit/img/upload-image.svg) no-repeat;
	background-position-x: 23px;
    background-position-y: 22px;
	display: inline-block;
	margin-top: 5px;	
    margin-bottom: 5px;
	border: 2px dashed #00AA5A;
    border-radius: 5px;
}

.upload-image {
	width: 40%; 	
	display: inline-block;
	font-size: 14px;
	color: #979797;
    vertical-align: top;
    margin-top: 15px;
	padding-left: 20px;
    padding-right: 10px;
}

.upload-image2 {
	width: 40%; 	
	display: inline-block;
	font-size: 14px;
	color: #00AA5A;
    vertical-align: top;
    margin-top: 15px;
	padding-left: 20px;
    padding-right: 10px;
}


.information-image {
	width: 290px; 
	overflow: hidden;
	display: inline-block;
	font-size: 14px;
	color: #979797;
    vertical-align: top;
    margin-top: 25px;
	padding-left: 40px;
    padding-right: 10px;
	word-wrap: break-word;
}

.information-image2 {
	color: #000;
	font-weight: bold;
}

.margin-r0 {
	margin: 0px 0px 32px 18px;
}
