@import "default";

.settings-title {
    text-align: center;
    margin: 70px 57px;
}
.settings-title span{
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
}
.user-projects {
	margin-top:8px;
}
.user-projects div.project {
	float: left;
	background-color: #D8D8D8;
	width: 244px;
	padding: 10px;
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	color: #232323;
	font-weight: bold;
	cursor: pointer;
}
.user-projects div.project.selected {
	background-color: #00AA5A;
	color: white;
}
.stg-new-user {
	background: url('/cockpit/img/user-mngt.svg') no-repeat;
	background-size: 25px;
	padding-left:40px;
	height:35px;
}
.stg-new-status {
	background: url('/cockpit/img/status.svg') no-repeat;
	background-size: 25px;
	padding-left:40px;
	height:35px;
}
.settings-spacing {
	margin:0 60px;
}
.back-bt {
	background: url('/cockpit/img/back.svg') no-repeat 15px;
	background-position-x: 15px;
	background-color: @baseColor;
	font-weight: bold;
	font-size:16px;
	color: white;
	height:41px;
	border:0;
	border-radius:20px;
	padding-left:35px;
	padding-right:15px;
	margin-top:17px;
}
.back-bt span {
	font-size:20px;
	padding-right:10px;
	font-weight:600;
}
.user-mngt {
	background: url('/cockpit/img/user-mngt.svg') no-repeat 15px;
	background-size: 27px;
	color:#373737;
	padding: 30px 0 30px 60px;
}
.user-mngt span {
	font-weight:bold;
	font-size: 24px;
}
.new-user-bt {
	background-color:#00aa5a;
	border:0;
	padding:5px 10px;
	color:#FEFEFE;
	font-weight: 600;
	font-size: 16px;
}
.user-table-header {
	padding-top:24px;
	padding-bottom:10px;
	font-size: 14px;
	font-weight: 500;
	color:#373737;
}
.user-row {
	background-color: white;
	border-radius: 6px;
	height:61px;
	font-size: 16px;
	font-weight: bold;
	color:#373737;
	margin: 10px 0;
}
.user-row div.text {
	padding-top: 20px;
}
.stg-user-icon {
	background: url('/cockpit/img/user-list.svg') no-repeat 28px;
	height:50px;
	top:5px;
	left:20px;
}

.user-edit-rem {
	text-align: right;
	padding-top: 15px;
	cursor: pointer;
}

.user-edit-rem img {
	padding-left:20px;
}
.stg-status {
	background: url('/cockpit/img/status.svg') no-repeat 15px;
	background-size: 27px;
	color:#373737;
	margin-top: 34px;
	padding: 30px 0 30px 60px;
}
.stg-status span {
	font-weight:bold;
	font-size: 24px;
}
.status-item {
	margin-top:16px;
}
.params-between {
	display: inline-block;
	width: 32px;
	height: 30px;
	vertical-align: bottom;
}
.stg-params {
	background: url('/cockpit/img/checklist.svg') no-repeat 15px;
	background-size: 27px;
	color:#373737;
	margin-top: 34px;
	padding: 30px 0 30px 60px;
}
.stg-params span {
	font-weight:bold;
	font-size: 24px;
}
.default-status {
	padding-top:26px;
	padding-left: 1px;
}
.default-stat-warn {
	color: @baseColor;
	font-size: 12px;
	width: 210px;
	height: 30px;
}
.status-row {
	background-color: white;
	border-radius: 6px;
	height:61px;
	font-size: 16px;
	font-weight: bold;
	color:#373737;
	margin: 4px 0;
}
.status-row div.text {
	padding-top: 20px;
}
.status-row.selected {
	background-color: #D7D7D7;
}
.label-default-status {
	font-weight:500;
}
.eye-bt {
	padding-bottom:18px;
	cursor:pointer;
	vertical-align: bottom;
}

.modal-text-area {
    background-color: #eee;
    font-size:15px;
    resize: none;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    margin-left: 30px;
    margin-top: 0px;
    width: 595px;
}

.label-left {
	height: 16px;	
    width: 210px;	
    color: #373737;
    font-family: Raleway;	
    font-size: 14px;	
    font-weight: bold;	
    line-height: 16px;
    margin: 30px 0px 10px 30px;
}