@import "default";

.content-bar {
	height:74px;
	background-color:#dee2e3;
}
.sub-menu-bar {
	height:74px;
	float:left;
	padding: 23px 30px;
	border-bottom: 7px solid #dee2e3;
	text-align: center;
    cursor: pointer;
}
.sub-menu-bar.selected {
	border-bottom: 7px solid @baseColor;
}
.sub-menu-bar span {
	font-size: 16px;
	font-weight: bold;
	color:#949494;
}
.sub-menu-bar.selected span {
	color:#373737;
}
