<link href="/cockpit/css/answer.min.css" rel="stylesheet">

<div style="position: absolute;top:79px;right:5px;background-color:white;width:400px;border-radius:5px;z-index:9;padding:8px 16px;box-shadow:2px 2px 2px 1px rgba(0,0,0,0.2);-moz-box-shadow:2px 2px 2px 1px rgba(0,0,0,0.2);-webkit-box-shadow:2px 2px 2px 1px rgba(0,0,0,0.2);">
	<div data-ng-show="selectedNode">
		<div style="padding-bottom:8px;">
			<b>{{selectedNode.label}}</b>
			<div style="float:right;cursor:pointer;" data-ng-show="selectedNode.answerCode" data-ng-click="selectAnswer(selectedNode.answerCode)"><a style="font-size: 12px;">Ver mais detalhes</a></div>
		</div>
		<div>
			<table><tr><td valign="top">
			SE:&nbsp;
			</td><td>
			<b>{{selectedNode.expression}}</b>
			</td></tr></table>
		</div>
		<div>
			<table><tr><td valign="top">
			Redirecionamento:&nbsp;
			</td><td>
			<b>{{selectedNode.jumpToType}}</b>
			</td></tr></table>
		</div>
	</div>
	<div data-ng-hide="selectedNode" style="text-align:center;"><b>Nenhum nó selecionado</b></div>
</div>
<button id="fakeBT" data-ng-click="showInfo()" style="display:none;"></button>
<div style="width:100%;height:1000px;" id="conversationFlow"></div>

<!-- Answer Modal -->
<div class="modal fade" id="answerModal" role="dialog">
	<div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content"> 
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title answer-modal-title">{{'TITLE-ADD-ANSWER' | translate}} <span><div class="answer-green-dot"></div>{{'ANSWER-ACTIVE-CHANNELS' | translate}}</span></h4>
			</div>
			<div class="modal-body modal-fields">
				<div class="modal-field">
					<label class="modal-label" ng-class="{'show-modal-label':!answer.code}">{{'ANSWER-CODE-INPUT' | translate}}</label>
					<input type="text" style="width:494px;" ng-class="{'empty':!answer.code,'error':answerError.code}" placeholder="{{'ANSWER-CODE-INPUT' | translate}}" ng-model="answer.code" class="modal-input-text" maxlength="100"/>
					<div class="input-error">{{answerError.code | translate}}&nbsp;</div>
				</div>
				<div class="modal-field">
					<label class="modal-label" ng-class="{'show-modal-label':!answer.title}">{{'ANSWER-TITLE-INPUT' | translate}}</label>
					<input type="text" ng-class="{'empty':!answer.title,'error':answerError.title}" placeholder="{{'ANSWER-TITLE-INPUT' | translate}}" ng-model="answer.title" class="modal-input-text" maxlength="40"/>
					<div class="input-error">{{answerError.title | translate}}&nbsp;</div>
				</div>
				<div class="modal-separator">{{'ANSWER-STATUS-SELECT' | translate}}</div>
				<div class="modal-field">
					<select class="modal-select" ng-model="answer.statusId" ng-change="userChangeGroup">
						<option value="">{{'ANSWER-STATUS-EMPTY' | translate}}</option>
						<option value="{{stat.id}}" ng-repeat="stat in status">{{stat.name}}</option>
					</select>
					<div class="input-error">{{answerError.statusId | translate}}</div>
				</div>


				<!-- CHANNEL SELECTOR -->
				<div class="channel-selector">
					<div class="channel-option" id="channel-ALL"
							ng-click="setChannelName('ALL')" 
							ng-class="{'selected':isChannelName('ALL')}">
						{{'ALL' | translate}}
					</div>
					<div class="channel-option" ng-repeat="channel in channels" id="channel-{{replaceChannelName(channel.name)}}"
							ng-click="setChannelName(channel.name)" 
							ng-class="{'selected':isChannelName(channel.name)}">
						{{channel.name}}
					</div>
				</div>
				<!-- CHANNEL SELECTOR - END -->

				<div ng-if="isChannelEnabled(channelName)==false" class="activate-channel">
					<div class="activate-channel-text">
						<span>{{'ANSWER-ENABLE-TEXT' | translate}}</span>
					</div>
					<button class="answer-btn-create" ng-click="enableContent()" style="margin-left:0;">{{'ANSWER-ENABLE-CONTENT' | translate}}</button>
				</div>
				<div ng-if="isChannelEnabled(channelName)==true">
					<div class="answer-type">
							<div ng-if="answerError.html" class="answer-type-choice-empty" ng-class="{selected:answer.byChannel[channelName].answerType == 'HTML'}" ng-click="answer.byChannel[channelName].html = answer.byChannel[channelName].text;answer.byChannel[channelName].answerType = 'HTML'">{{'ANSWER-TYPE-HTML' | translate}}</div>
							<div ng-if="answerError.html" class="answer-type-choice-empty" ng-class="{selected:answer.byChannel[channelName].answerType == 'TEXT'}" ng-click="answer.byChannel[channelName].text = answer.byChannel[channelName].html;answer.byChannel[channelName].answerType = 'TEXT'">{{'ANSWER-TYPE-TEXT' | translate}}</div>
							<div ng-if="!answerError.html" class="answer-type-choice" ng-class="{selected:answer.byChannel[channelName].answerType == 'HTML'}" ng-click="answer.byChannel[channelName].html = answer.byChannel[channelName].text;answer.byChannel[channelName].answerType = 'HTML'">{{'ANSWER-TYPE-HTML' | translate}}</div>
							<div ng-if="!answerError.html" class="answer-type-choice" ng-class="{selected:answer.byChannel[channelName].answerType == 'TEXT'}" ng-click="answer.byChannel[channelName].text = answer.byChannel[channelName].html;answer.byChannel[channelName].answerType = 'TEXT'">{{'ANSWER-TYPE-TEXT' | translate}}</div>
					</div>
					<div ng-show="answer.byChannel[channelName].answerType == 'HTML'">
						<summernote id="answerSummernote" ng-model="answer.byChannel[channelName].html"	ng-class="{'empty':!answer.byChannel[channelName].html, 'error':answerError.html}" config="summerOptions" height="234"></summernote>
					</div>
					<div ng-show="answer.byChannel[channelName].answerType == 'TEXT'">
						<textarea ng-model="answer.byChannel[channelName].text" ng-class="{'empty':!answer.byChannel[channelName].text, 'error':answerError.text}" class="modal-text-area" style="width:100%;height:287px;margin-bottom:13px;" placeholder="{{'ANSWER-TEXT-PLACEHOLDER' | translate}}"></textarea>
					</div>

					<div class="answer-obox-text">
						<div class="click-area" ng-class="{closed:!openTechText,opened:openTechText}" ng-click="showHideTechText()">{{'ANSWER-TECH-TEXT' | translate}}</div>
						<section ng-show="openTechText" style="padding:8px;">
							<div class="answer-type">
								<div class="answer-type-choice" ng-class="{selected:answer.byChannel[channelName].techTextType != 'javascript'}" ng-click="changeMode('javascript');">{{'JSON' | translate}}</div>
								<div class="answer-type-choice" ng-class="{selected:answer.byChannel[channelName].techTextType != 'xml'}" ng-click="changeMode('xml');">{{'XML' | translate}}</div>
							</div>
							<textarea ui-codemirror ng-model="answer.byChannel[channelName].technicalText"
							ui-codemirror-opts="cmOptions"></textarea>
						</section>
					</div>

					<div class="answer-obox-text"  ng-class="{'answer-obox-text-empty': opt.error.title || opt.error.html}" ng-repeat="opt in answer.byChannel[channelName].options" ng-if="!opt.removed">
						<div class="click-area option-box-text"  ng-class="{closed:!opt.opened,opened:opt.opened}" ng-click="openOption(opt);">{{opt.title ? opt.title : ('ANSWER-DEFAULT-TITLE' | translate)}}</div>
						<div class="option-box-btn"><img src="/cockpit/img/trash.svg" ng-click="removeOption(opt)" height="30"/></div>
						<div ng-show="opt.opened" class="answer-option-data">
							<div class="answer-option">{{'ANSWER-OPTION' | translate}} {{opt.optionOrder}}</div>
							<div class="modal-field">
								<label class="modal-label" ng-class="{'show-modal-label':!opt.title}">{{'ANSWER-OPT-TITLE' | translate}}</label>
								<input type="text" style="width:498px;" ng-class="{'empty':!opt.title,'error':opt.error.title}" placeholder="{{'ANSWER-OPT-TITLE' | translate}}" ng-model="opt.title" class="modal-input-text" maxlength="45"/>
								<div class="input-error">{{opt.error.title | translate}}</div>
							</div>
							<div class="modal-field">
								<input type="checkbox" ng-model="opt.action" id="optAction{{opt.order}}"/>
								<label for="optAction{{opt.order}}" class="answer-option-action">{{'ANSWER-HAS-ACTION' | translate}}</label>
							</div>

							<div ng-show="!opt.action">
								<div class="answer-type">
									<div ng-if="opt.error.html" class="answer-type-choice-empty" ng-class="{selected:opt.textType == 'HTML'}" ng-click="opt.html = opt.text;opt.textType = 'HTML'">{{'ANSWER-TYPE-HTML' | translate}}</div>
									<div ng-if="opt.error.text" class="answer-type-choice-empty" ng-class="{selected:opt.textType == 'TEXT'}" ng-click="opt.text = opt.html;opt.textType = 'TEXT'">{{'ANSWER-TYPE-TEXT' | translate}}</div>
									<div ng-if="!opt.error.html" class="answer-type-choice" ng-class="{selected:opt.textType == 'HTML'}" ng-click="opt.html = opt.text;opt.textType = 'HTML'">{{'ANSWER-TYPE-HTML' | translate}}</div>
									<div ng-if="!opt.error.text" class="answer-type-choice" ng-class="{selected:opt.textType == 'TEXT'}" ng-click="opt.text = opt.html;opt.textType = 'TEXT'">{{'ANSWER-TYPE-TEXT' | translate}}</div>
								</div>
								<div ng-show="opt.textType == 'HTML'" >
									<summernote ng-model="opt.html" id="answerSummernote" ng-class="{'empty':!opt.html, 'error':opt.error.html}" config="summerOptions" height="234"></summernote>
								</div>
								<div ng-show="opt.textType == 'TEXT'">
									<textarea ng-model="opt.text" ng-class="{'empty':!opt.text, 'error':opt.error.text}" placeholder="{{'ANSWER-TEXT-PLACEHOLDER' | translate}}" class="modal-text-area" style="width:100%;height:287px;margin-bottom:13px;"></textarea>
								</div>
							</div>

							<div ng-show="opt.action">
								<div class="answer-type">
									<div class="answer-type-choice" ng-class="{selected:opt.textTypeAction == 'WATSON'}" ng-click="opt.textTypeAction = 'WATSON'">{{'ANSWER-TYPE-WATSON' | translate}}</div>
									<div style="width:150px;" class="answer-type-choice" ng-class="{selected:opt.textTypeAction == 'ANSWER'}" ng-click="opt.textTypeAction = 'ANSWER'">{{'ANSWER-TYPE-ANSWER' | translate}}</div>
								</div>
								<div class="modal-field">
									<input type="text" ng-class="{'empty':!opt.text,'error':opt.error.text}" placeholder="{{(opt.textTypeAction == 'WATSON' ? 'ANSWER-OPT-WATSON' : 'ANSWER-OPT-ANSWER') | translate}}" ng-model="opt.text" class="modal-input-text" maxlength="255"/>
									<div class="input-error">{{opt.error.text | translate}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="cockpit-bt danger" style="margin-right:16px" data-dismiss="modal">{{'SAIR' | translate}}</button>

				<div class="answer-preview-relative">
					<div class="answer-preview-absolute">
						<div class="preview-title">{{'ANSWER-PREVIEW' | translate}}</div>
						<div class="answer-preview-box">
							<div ng-if="answer.byChannel[channelName].text || answer.byChannel[channelName].html || answer.byChannel[channelName].options.length">
								<div class="preview-assistant">{{'ASSISTANT' | translate}}</div>
								<div class="preview-text">
									<div class="preview-answer-text" ng-if="answer.byChannel[channelName].answerType == 'HTML'" 
									ng-bind-html="answer.byChannel[channelName].html"></div>
									<div class="preview-answer-text" ng-if="answer.byChannel[channelName].answerType == 'TEXT'">
										{{answer.byChannel[channelName].text}}
									</div>
									<div class="preview-options">
										<div ng-repeat="opt in answer.byChannel[channelName].options">
											<div class="preview-opt-text" ng-if="!opt.removed">{{opt.title}}</div>
										</div>
									</div>
								</div>
							</div>
							<div class="answer-no-preview" ng-if="!answer.byChannel[channelName].text && !answer.byChannel[channelName].html && !answer.byChannel[channelName].options.length">
								{{'ANSWER-NO-PREVIEW' | translate}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Answer Modal END -->