<link href="/cockpit/css/project.min.css" rel="stylesheet">

<div class='load-container'></div>
<div class="project-title">
    <span>{{ 'PROJECT-TITLE' | translate }}</span>
</div>

<div class="projects-list" id="projectsList">
	<div class="project-list-item" ng-click="selectProject({})" ng-class="{'margin-r0':!projects.length}" ng-show="user.groupId == '1'">
		<div class="project-add">
			<span>{{'ADD-NEW-PROJECT'| translate}}</span>
		</div>
	</div>
	<div class="project-list-item" ng-repeat="proj in projects">
		<div class="project-item-img">
			<img src="/cockpit/v1/projects/{{proj.id}}/img" class="inv-project-select" ng-click="projectDashboard(proj)" ng-if="user.groupId == '1'">
			<img src="/cockpit/v1/projects/{{proj.id}}/img" class="inv-project-select-custom" ng-click="projectDashboard(proj)" ng-if="user.groupId != '1'">
			<div class="project-item-icons" ng-show="user.groupId == '1'">
				<img src="/cockpit/img/trash.svg" ng-click="removeProject(proj.id)"/>
				<img src="/cockpit/img/pencil.svg" ng-click="selectProject(proj)"/>
			</div>
		</div>
		<div class="project-item-name" ng-click="projectDashboard(proj)"><span>{{proj.name | limitTo:15}}<span ng-show="{{ proj.name.length > 15 }}" style="display: inline;">...</span></span></div>
	</div>
</div>






<!-- USER Modal -->
<div class="modal fade" id="projectModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title project-new-title">{{project.id?'TITLE-ALTER-PROJECT':'TITLE-ADD-PROJECT' | translate}}</h4>
			</div>
			<div class="modal-body modal-fields">
				<div class="modal-field">
					<label class="modal-label" ng-class="{'show-modal-label':!project.name}">{{'PROJECT-NAME-INPUT' | translate}}</label>
					<input type="text" ng-class="{'empty':!project.name,'error':projectError.name}" placeholder="{{'PROJECT-NAME-INPUT' | translate}}" ng-model="project.name" class="modal-input-text-project" maxlength="45"/>
					<div class="input-error">{{projectError.name | translate}}</div>
				</div>
				<div class="modal-field">
					<label class="modal-label" ng-class="{'show-modal-label':!project.workspaceId}">{{'PROJECT-WORKSPACE-INPUT' | translate}}</label>
					<input type="text" ng-class="{'empty':!project.workspaceId,'error':projectError.workspaceId}" placeholder="{{'PROJECT-WORKSPACE-INPUT' | translate}}" ng-model="project.workspaceId" class="modal-input-text-project" maxlength="50"/>
					<div class="input-error">{{projectError.workspaceId | translate}}</div>
				</div>
				<div class="modal-field">
					<label class="modal-label" ng-class="{'show-modal-label':!project.workspaceUsername}">{{'PROJECT-WORKSPACE-USERNAME-INPUT' | translate}}</label>
					<input type="text" ng-class="{'empty':!project.workspaceUsername,'error':projectError.workspaceUsername}" placeholder="{{'PROJECT-WORKSPACE-USERNAME-INPUT' | translate}}" ng-model="project.workspaceUsername" class="modal-input-text-project" maxlength="50"/>
					<div class="input-error">{{projectError.workspaceUsername | translate}}</div>
				</div>

				<div class="modal-field">
					<label class="modal-label" ng-class="{'show-modal-label':!project.workspacePassword}">{{'PROJECT-WORKSPACE-PASSWORD-INPUT' | translate}}</label>
					<input type="password" ng-class="{'empty':!project.workspacePassword,'error':projectError.workspacePassword}" placeholder="{{'PROJECT-WORKSPACE-PASSWORD-INPUT' | translate}}" ng-model="project.workspacePassword" class="modal-input-text-project" maxlength="50"/>
					<div class="input-error">{{projectError.workspacePassword | translate}}</div>
				</div>

				<div class="modal-separator fw500 ng-binding" style="padding-left:4px;">Linguagem</div>
				<div class="modal-field">
					<select class="modal-select" ng-model="project.locale">
						<option value="">{{'SETTINGS-LOCALE-LEVEL-EMPTY-OPT' | translate}}</option>
						<option value="pt-BR">{{'LOCALE-PORTUGUESE' | translate}}</option>
						<option value="en-US">{{'LOCALE-ENGLISH' | translate}}</option>
						<option value="es-ES">{{'LOCALE-SPANISH' | translate}}</option>
						<option value="fr-FR">{{'LOCALE-FRENCH' | translate}}</option>
						<option value="it-IT">{{'LOCALE-ITALIAN' | translate}}</option>
						<option value="ja-JP">{{'LOCALE-JAPANESE' | translate}}</option>
						<option value="de-DE">{{'LOCALE-GERMAN' | translate}}</option>
						<option value="ko-KR">{{'LOCALE-KOREAN' | translate}}</option>
						<option value="nl-BE">{{'LOCALE-DUTCH' | translate}}</option>
						<option value="zh-CHT">{{'LOCALE-CHINESE-TRADITIONAL' | translate}}</option>
						<option value="zh-CHS">{{'LOCALE-CHINESE-SIMPLIFIED' | translate}}</option>
					</select>
					<div class="input-error">{{projectError.locale | translate}}</div>
				</div>
				<div style="clear: both;"></div>

				<div class="modal-field">
					<div class="project-image" ng-click="openImageSelector($event)" ng-class="{'project-image2': nameImage}">
						<input type="file" id="imageSelector" ng-model="image" onchange="angular.element(this).scope().getImage(this)"/>
						<span class="upload-image" ng-class="{'upload-image2': nameImage}">{{'PROJECT-IMAGE-UPLOAD' | translate}}</span>
					</div>
					<div class="information-image" ng-class="{'information-image2': nameImage}">{{ nameImage || 'PROJECT-IMAGE-INFORMATION' | translate}}</div>
				</div>

				<!-- Text Area Description -->
			<div class="modal-separator fw500" style="padding-left:4px;">{{'PROJECT-LABEL-DESCRIPTION' | translate}}</div>
			<div class="modal-field">
				<textarea maxlength="1000" rows="5" cols="50" class="modal-text-area" ng-class="{'empty':!project.description,'error':projectError.description}" placeholder="{{'PROJECT-PLACEHOLDER-DESCRIPTION' | translate}}" ng-model="project.description" class="" maxlength="255"/>
			    <div class="input-error">{{projectError.description}}</div>
			</div>

			<div style="clear: both;"></div>

				<div style="clear: both;"></div>
			
				<div style="clear: both;"></div>

				<div style="clear: both;"></div>
				
				<div style="clear: both;"></div>
				
				<div style="clear: both;"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="cockpit-bt success" style="margin-right:32px" ng-click="saveProject()" ng-disabled="hideButton">{{hideButton ? 'SAVING' : 'SAVE-FOLDER' | translate}}</button>
			</div>
		</div>
	</div>
</div>
<!-- USER Modal - END -->