
<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>

<link href="/cockpit/css/qlik-animation-loading.css" rel="stylesheet">

<div>  

  <!--  Loading Img  -->
  <div class="imageLoading image-pos-center"></div> 

  <iframe id="iframeReportSession" src="pages/dashboards/session_frame.html" width="1100" frameborder="0" scrolling="no" onload="resizeIframe(this)" class="reportIframe"></iframe>
  

</div>
