<aside class="left-side-bar col-md-2">
	<div class="left-bar-menu-item" ng-repeat="opt in leftBar.options" ng-class="{'left-bar-selected':opt.selected}" ng-click="opt.select(true)" ng-hide="user.groupId == '4' && (opt.textKey == 'LEFT-BAR-ARCHITECTURE' || opt.textKey == 'LEFT-BAR-SAMPLE')">
		<div class="row">
			<div class="col-md-2">
				<img src="/cockpit/img/{{opt.getImage()}}.svg" width="{{opt.imgSize}}" />
			</div>
			<div class="col-md-10">
				<span ng-class="{selected:opt.selected}">{{opt.textKey | translate}}</span>
			</div>
		</div>
	</div>
</aside>
<div class="col-md-2"></div>