<div class="row content-bar">
    <div class="sub-menu-bar" ng-click="smenu.select(true)"
        ng-repeat="smenu in leftBar.getSelected().children"
        ng-class="{selected:smenu.selected}"><span>{{smenu.textKey | translate}}</span>
    </div>
</div>