<link rel="stylesheet" href="/cockpit/css/session-table.min.css">

<div>
    <div class="row">
        <div class="filter-name col-md-1">
            <span>Filtros:</span>
        </div>
        <div class="filter-container col-md-11">
            <div class="filter-row">
                <div class="col-md-10" ng-show="showSessionFilter">
                    <span class="filter-span">{{ 'SESSION-CODE' | translate }}</span>
                    <input id="sessionCodeInput" type="text" class="select" ng-model="sessionCode" maxlength="50" placeholder="{{ 'SESSION-FILTER-MESSAGE' | translate }}">
                </div>
                <div ng-hide="showSessionFilter">
                    <div class="col-md-4 elementFilter-container">
                        <span class="filter-span">Data: </span>
                        <input class="select date-filter" ng-model="date" type="text" name="daterange" value="" maxlength="23"/>
                        <div class="calendarie-icon"></div>
                    </div>
                    <div class="col-md-3 elementFilter-container">
                        <span class="filter-span">Canal: </span>
                        <div     
                            isteven-multi-select
                            input-model="channels"
                            output-model="outputChannels"
                            button-label="icon name"
                            item-label="icon name maker"
                            tick-property="ticked"
                            max-labels="1"
                        >
                        </div>
                    </div>
                    <div class="col-md-3 elementFilter-container">
                        <span class="filter-span">Status: </span>
                        <div     
                            isteven-multi-select
                            input-model="answerStatus"
                            output-model="outputStatus"
                            button-label="icon name"
                            item-label="icon name maker"
                            tick-property="ticked"
                            max-labels="1"
                        >
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button id="filterBtn" ng-click="filter()" ng-disabled="loadingTable || loading" class="btns filter-btn">{{ 'FILTER' | translate }}</button> 
                </div>
                <div class="col-md-6 elementFilter-container" style="margin-top: 16px;font-weight: 500;">
                    <input type="checkbox" ng-model="showSessionFilter">
                    <span>&nbsp{{ 'SHOW-SESSION-FILTER' | translate }}</span>
                </div>
        </div>
    </div>
</div>
    <div ng-hide="loadingTable">
        <div class="export-bt row" ng-click="exportSessions()" ng-hide="loadingTable || loading"> 
            <div class="export-icon"></div> 
            <div class="export-text">{{ 'DOWNLOAD-EXCEL' | translate }}</div> 
        </div>

        <div class="row session-table-header">
            <div class="col-md-2 text">{{ 'SESSION-CODE-LABEL' | translate }}</div>
            <div class="col-md-1 text">{{ 'CREATE-DATE-LABEL' | translate }}</div>
            <div class="col-md-2 text">{{ 'BUSINESS-KEY-LABEL' | translate }}</div>
            <div class="col-md-2 text">{{ 'SAMPLE-LABEL-CHANNEL' | translate }}</div>
            <div class="col-md-1 text"></div>
            <div class="col-md-4 text">{{ 'QUESTION-ANSWER-LABEL' | translate }}</div>
        </div>
        <div class="row session-row" ng-repeat="(k, v) in sessions" ng-class="{'sessionGroup collapsed': v.sessionCode != sessions[k-1].sessionCode}">
            <div class="col-md-2 text">{{v.sessionCode}}</div>
            <div class="col-md-1 text">{{v.createDate | date  : 'dd/MM HH:mm'}}</div>
            <div class="col-md-2 text">{{v.businessKey}}</div>
            <div class="col-md-2 text">{{v.channelName}}</div>
            <div class="col-md-4 text">
                <div ng-show="v.title">
                    #{{v.code}} - {{v.title}}
                    <br/>
                    Status: {{v.status}}
                </div>
                <div ng-show="v.text">
                    {{v.text}}
                </div>
            </div>
            <div class="col-md-1 text">
                <div ng-class="{'vivi-icon': !v.userSent , 'user-icon': v.userSent}"></div>
            </div>
        </div>
    </div>
    <div class="get-more-sessions" ng-hide="loading">
        <img src="/cockpit/img/eye_theme_color.svg" ng-click="loadSessionTable()"/>
        <div><span class="get-more-text" ng-click="loadSessionTable()">{{ 'SAMPLE-LABEL-VIEW-MORE' | translate }}</span></div>
    </div>
    <img src="/cockpit/img/spinner.svg" class="imageLoading" ng-show="loading">
    <div ng-show="message" class="empty-message">
        <span>{{ 'TABLE-EMPTY-DATA-PART1' | translate }}</span><br>
        <span>{{ 'TABLE-EMPTY-DATA-PART2' | translate }}</span>
    </div>
</div>