
<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
</script>

<link href="/cockpit/css/qlik_design_custom.min.css" rel="stylesheet">


<div>  

  <!--  Loading Img  -->
  <div class="imageLoading"></div> 

  <iframe id="iframeSession" src="pages/dashboards/session_frame.html" width="1100" frameborder="0" scrolling="no" onload="resizeIframe(this)" class="reportSession" style="visibility: hidden"></iframe>
  

</div>
