<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<link href="/ura/css/ura.min.css" rel="stylesheet">

<div class="closeTreatment" ng-hide="emAtendimento">
    <div class="container">
        <img class="logo" src="/ura/img/vivo_logo.png" alt="Vivo">
        <div class="aguarde">
            <img src="/ura/img/_007-headphones.png" alt="">
            <p>Aguardando o cliente para iniciar o atendimento…</p>
        </div>
    </div>
</div>

<div class="row" ng-show="emAtendimento">
    <div class="flex-container">
        <div class="col-lg-3 flex-item">
            <div class="clientData">
                <div class="infoClient">
                    <h3>Informações do cliente</h3>
                    <p><strong>Nome Completo:</strong> Lucas Monteiro</p>
                    <p><strong>Nº de origem:</strong> {{phoneNumber}}</p>
                    <p><strong>Nº para atendimento:</strong> {{phoneNumber}}</p>
                    <p><strong>Localidade: </strong>São Paulo - SP</p>
                    <p><strong>Segmento:</strong> Pré</p>
                    <!-- <p><strong>Promoção:</strong> {{planType}}</p> -->
                    <!-- <p><strong>Data de contratação:</strong> {{dateS.DDt | date:'dd/MM/yyyy'}}</p> -->
                    <!-- <p><strong>Data de ativação:</strong> {{dateS.DDt | date:'dd/MM/yyyy'}}</p> -->
                </div>
                <div class="reloadHistory">
                    <h4><strong>Saldo de recarga atual: </strong><span>R$30,00</span></h4>
                    <p>Histórico de recargas realizadas</p>
                    <div class="slider carousel">
                        <div class="item">
                            <div class="rechargeDate">
                                <span class="value">R$ 9</span>
                                <i></i>
                                <span class="date">11/03</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="rechargeDate">
                                <span class="value">R$ 20</span>
                                <i></i>
                                <span class="date">20/04</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="rechargeDate">
                                <span class="value">R$ 15</span>
                                <i></i>
                                <span class="date">03/05</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="rechargeDate">
                                <span class="value">R$ 45</span>
                                <i></i>
                                <span class="date">30/05</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="rechargeDate">
                                <span class="value">R$ 10</span>
                                <i></i>
                                <span class="date">17/06</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="rechargeDate">
                                <span class="value">R$ 12</span>
                                <i></i>
                                <span class="date">09/07</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="rechargeDate">
                                <span class="value">R$ 20</span>
                                <i></i>
                                <span class="date">25/07</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="rechargeDate">
                                <span class="value">R$ 10</span>
                                <i></i>
                                <span class="date">11/08</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dataConsumption">
                    <h4><b>Consumo de Dados</b></h4>
                    <h5><strong> Ativo: {{data.description}} <br> Renovação em {{dateE.DDt | date:'dd/MM'}} (faltam {{daysDiff}} dias)</strong></h5>
                    <div class="progress_container">
                        <div class="progress progress-danger progress-striped active">
                            <div class="bar" style="width: {{consumo}}%;"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">Restante: {{consumoString}}</div>
                            <div class="col-lg-6 text-right">{{maximo}}</div>
                        </div>
                        <br>
                    </div>
                    <!--
					<h5><strong>Pacote Adicional</strong></h5>

					<div class="progress_container">
						<div class="progress progress-danger progress-striped active">
							<div class="bar" style="width: 0%;"></div>
						</div>
						<div class="row">
							<div class="col-lg-6">Restante: 0MB</div>
							<div class="col-lg-6 text-right">0MB</div>
						</div>					
					</div>
					-->
                </div>
            </div>
        </div>

        <div class="col-lg-6 flex-item">
            <div class="chatHistory">
                <div class="container-fluid">
                    <div class="row history">
                        <div class="row">
                        </div>
                        <div class="historyContainer" ng-show="$index < 10" ng-repeat="history in dataObj track by $index" ng-class="{'firstBlock': history == dataObj[0]}">
                            <div class="col-lg-2 date text-center">
                                <div>{{history.session.createDate | date:'dd'}}
                                    <span>{{history.session.createDate | date:'MMM'}}</span>
                                </div>
                            </div>
                            <div class="col-lg-10 content">
                                <div class="block">
                                    <h5>{{ titleProject }}</h5>
                                    <ul>
                                        <li class="row" ng-repeat="interactions in history.userInteractions">
                                            <!--  | orderBy:'history.userInteractions.id' -->
                                            <span class="col-lg-1 ">	
												<img ng-if="history.userInteractions[$index].userSent===true " src="/ura/img/_user.png " alt=" ">	
												<img ng-if="history.userInteractions[$index].userSent===false " src="/ura/img/_eva.png " alt=" ">
											</span>
											<div ng-if="history.userInteractions[$index].text==='INIT_CONVERSATION' || history.userInteractions[$index].text===''">
												<p class="col-lg-11"><span>Opção 9</span></p>
											</div>
											<div ng-if="history.userInteractions[$index].text !== 'INIT_CONVERSATION'">
												<p class="col-lg-11"><span>{{history.userInteractions[$index].text}}</span></p>
											</div>
                                        </li>
                                    </ul>
                                </div>
                                <div style="height:30px "></div>
                            </div>
                            <div ng-if="$index==0 " style="margin-left: 120px; ">
                                <div class="beta-button " ng-click="sendMensagemBeta($event) ">Pacote Adicional</div>
                                <div class="beta-button " ng-click="sendMensagemBeta($event) ">Recarga</div>
                                <div class="beta-button " ng-click="sendMensagemBeta($event) ">Problemas de Internet</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 flex-item " ng-show="emAtendimento ">
            <script src="https://assistente-virtual-cockpit.mybluemix.net/js/web-cockpit.js "></script>
        </div>
    </div>
</div>