<link rel="stylesheet" href="/cockpit/css/header.min.css">
<section class="container-fluid header-top">
	<div class="row">
		<div class="col-lg-12 header-separator-top"></div>
	</div>
	<div class="row">
		<div class="col-lg-3 header-client-logo" ng-click="projectsPage()"></div>
		<div class="col-lg-4 header-project">
			<div ng-if="projectName()">
				<span class="fw900">PROJETOS</span> <span class="fw500">{{projectName() | limitTo:10}}<span ng-show="{{ projectName().length > 10 }}">...</span></span>
			</div>
		</div>
		<div class="col-lg-1 header-settings" ui-sref="settings" ng-click="showLoading()"><div ng-class="{'header-stg-bg':isSettings()}"></div><span>{{'HEADER-CONFIG' | translate}}</span></div>
		<div class="col-lg-6">
			<!-- <div class="header-translate" ng-class="{translateMenu:translateBT}" data-ng-mouseover="translateBT=true" data-ng-mouseleave="translateBT=false">
				<ul ng-show="translateBT">
					<li ng-repeat="languageImage in langImgs"><img src="/cockpit/img/{{languageImage.img}}.svg" ng-click="updateLanguage(languageImage.lang)" height="30"/></li>
				</ul>
				<img src="/cockpit/img/{{langSelected}}.svg" height="30" ng-hide="translateBT" />
			</div> -->
		</div>
		<div class="col-lg-2 header-logged-user"><span>{{user.name}}</span></div>
		<div class="col-lg-1"><span><a href="/logout" class="header-exit">{{'HEADER-EXIT' | translate}}</a></span></div>
	</div>
</section>
