@import "default";

.session-table-header {
	padding-top:52px;
	padding-bottom:10px;
	font-size: 14px;
	font-weight: 500;
	color:#373737;
}
.filter-name{
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
}
.filter-container{
    width: 90%;
    background-color: white;
	border-radius: 4px;
	height: 105px;
    font-size: 16px;
    font-weight: bold;
	color:#373737;
	margin: 10px 0;
}
.filter-row{
    margin-top: 17px;
}
.session-row {
	background-color: #fff;
    border-radius: 4px 4px 0 0;
    min-height: 130px;
    font-size: 16px;
    font-weight: 700;
    color: #373737;
    margin: 0 0;
}
.session-row div.text {
	padding-top: 5px;
}
.user-icon {
    background-image: url('/cockpit/img/user-list.svg');
    background-size: 24px 24px;
    width:24px;
    height: 24px;
}
.vivi-icon {
    background-image: url('/cockpit/img/ic_vivi.svg');
    background-size: 24px 24px;
    width:24px;
    height: 24px;
}
.get-more-sessions {
    text-align: center;
    margin: 10px;
}
.get-more-sessions img {
    cursor: pointer;
}
.get-more-text {
    font-size: 12px;
    cursor: pointer;
}
.export-bt {
    cursor:pointer;
    float:right;
    width:177px;
    height:32px;
    background-color:#00AA5A;
    border-radius:30px;
    margin:8px;
}
.export-icon {
    float: left;
    width: 18px;
    height: 24px;
    margin-left: 14px;
    background-image: url(/cockpit/img/export.svg);
    background-repeat: no-repeat;
}

.export-text {
    float:left;
    color:white;
    font-size:14px;
    font-weight: bold;
    margin-top: 6px;
}

.select {
	background-color: @baseColor;
	height: 32px;
	width: 184px;
	font-size: 14px;
	color: white;
	text-indent: 10px;
	border:0;
}

.date-filter{
    width: 265px;
    font-size: 16px;
}

.calendarie-icon {
    background-color: @baseColor;
    position: absolute;
    width:24px;
    height:24px;
    margin-left:266px;
    background-image: url('/cockpit/img/calendario.svg');
    background-repeat: no-repeat;
    margin-top: 6px;
    cursor: pointer;
}

.btns {
    border: 0;
    background-color: #00aa5a;;
    color: #fff;
    font-weight: 700;
    padding: 6px;
    min-width: 88px;
    margin-left: 24px;
}

// .filter-btn{
//     position: absolute;
//     left: 844px;
// }

.filter-span{
    padding-top: 5px;
    padding-right: 5px;
}

.elementFilter-container{
    display: inline-flex;
}

.sessionGroup{
    margin-top: 8px;
}

.imageLoading {
    position: relative;
    left: 486px;
    top: 16px;
    width: 126px;
    height: 92px;
}

.empty-message {
    font-family: Raleway;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    line-height: 24px;
    color: #373737;
    font-weight: 500;
    margin-top: 60px;
    top: 147px;
    opacity: .4;
}

