@import "default";

.left-side-bar {
    background-color: white;
    position: absolute;
	top:74px;
	bottom:0;
}
.left-bar-menu-item {
	height:75px;
	padding-top:20px;
	margin-left: -15px;
	padding-left: 15px;
	border-left: 6px solid white;
    cursor: pointer;
}
.left-bar-menu-item span {
	font-size: 18px;
	font-weight: 600;
	color: #8a8a8a;
	padding-left:15px;
	display: block;
	padding-top: 4px;
}
.left-bar-menu-item span.selected{
	color: #373737;
}
.left-bar-selected {
	border-left: 6px solid @baseColor;
}