@import "default";

.form-container {
    width: 60%;
    background-color: white;
    border-radius: 4px;
    height: 450px;
    font-size: 16px;
    font-weight: bold;
    color: #373737;
    margin: 20px 0px 10px 20px;
}


.sample-label-left {
	height: 16px;	
    width: 210px;	
    color: #373737;
    font-family: Raleway;	
    font-size: 14px;	
    font-weight: bold;	
    line-height: 16px;
    margin: 30px 0px 10px 30px;
}


.sample-label-right {
	height: 16px;	
    width: 210px;	
    color: #373737;
    font-family: Raleway;	
    font-size: 14px;	
    font-weight: bold;	
    line-height: 16px;
    margin: 30px 0px 10px 30px;
}


.sample-modal-select {
    background-color: @baseColor; 
    height: 32px;
    width: 245px;
    font-size: 14px;
    color: #fff;
    text-indent: 10px;
    border: 0;
    margin: 0px 0px 0px 30px;
}

.sample-modal-input-text.empty {
    font-weight: 500;
    font-size: 12px;
}

.sample-modal-input-text {
    border: 0;
    border-bottom: 1px solid #373737;
    width: 245px;
    font-weight: 700;
    height: 24px;
    background-color: transparent;
    margin-left: 30px;
}

.sample-modal-text-area {
    background-color: #eee;
    font-size:15px;
    resize: none;
    padding: 15px;
    box-sizing: border-box;
    border: 0;
    margin-left: 30px;
    margin-top: 0px;
    width: 595px;
}

.sample-input-error {
    font-size: 10px;
    color: #cf2020;
    font-weight: medium;
    margin-left: 30px;
    margin-top: 5px;
    height: 12px;
}


.remove-modal-title{
    background-size: 0px !important;
}


.label-mandatory-fields{	
    height: 16px;
    width: 180px;
    color: #656767;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-left: 30px;
}


