@import "default";

/* Page empty Samples */
.sample-desc-empty{
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    line-height: 24px;
    color: #373737;
    font-weight:500; 
    margin: 0 auto;
    top: 147px;
}


/* Page with Samples */
.sample-label-sampledate{
    width: 114px;
    height: 16px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    color: #373737;
    margin-left: 35px;
    margin-top: 100px;
}

.sample-label-description{
    width: 170px;
    height: 16px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    color: #373737;
    margin-left: 26px;
    margin-top: 100px;
}


.sample-label-channel{
    width: 220px;
    height: 16px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    color: #373737;
    margin-left: 56px;
    margin-top: 100px;
}

.sample-label-count{
    width: 124px;
    height: 16px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #373737;
    margin-left: 28px;
    margin-top: 100px;
}


.sample-value-sampledate{
    width: 170px;
    height: 16px;
    font-family: Raleway;
    font-size: 17px;
    font-weight: bold;
    line-height: 16px;
    color: #373737;
    margin-left: 0px;
    margin-top: 42px;
}


.sample-value-channel{
    width: 250px;
    height: 16px;
    font-family: Raleway;
    font-size: 17px;
    font-weight: bold;
    line-height: 16px;
    color: #373737;
    margin-left: 0px;
    margin-top: 42px;
}

.sample-value-count{
    width: 151px;
    height: 16px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: bold;
    line-height: 16px;
    color: #373737;
    margin-left: 0px;
    margin-top: 42px;
}


.sample-value-comment{
    width: 325px;
    height: 78px;
    font-family: Raleway;
    font-size: 17px;
    font-weight: bold;
    line-height: 16px;
    color: #373737;
    margin-left: 0px;
    margin-top: 10px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: normal; 
    text-overflow: ellipsis; 
}


.filter-name{
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
}
.filter-container{
    width: 90%;
    background-color: white;
	border-radius: 4px;
	height: 65px;
    font-size: 16px;
    font-weight: bold;
	color:#373737;
	margin: 10px 0;
}
.filter-row{
    margin-top: 17px;
}
.sample-row {
    background-color: #FFFFFF;
    width: 1050px;
    height: 100px;
    margin-left: 20px;
    margin-top: 10px; 
    border-radius: 6px;
}
.sample-row div.text {
	padding-top: 20px;
}
.get-more-samples {
    text-align: center;
    margin: 10px; 
}
.get-more-samples img {
    cursor: pointer;
}
.get-more-text {
    font-size: 12px;
    cursor: pointer;
}
.export-bt {
    cursor:pointer;
    float:right;
    width:177px;
    height:32px;
    background-color:#00AA5A;
    border-radius:30px;
    margin:8px 18px 8px 8px;
}
.export-icon {
    float:left;
    width:24px;
    height:24px;
    margin-left:14px;
    background-image: url('/cockpit/img/export.svg');
    background-repeat: no-repeat;
    margin-top: 7px;
}

.export-text {
    float:left ;
    color:white;
    font-size:14px;
    font-weight: bold;
    margin-top: 6px;
}

.select {
	background-color: @baseColor;
	height: 32px;
	width: 184px;
	font-size: 14px;
	color: white;
	text-indent: 10px;
	border:0;
}

.date-filter{
    width: 265px;
    font-size: 16px;
}

.calendarie-icon {
    position: absolute;
    width:24px;
    height:24px;
    margin-left:266px;
    background-image: url('/cockpit/img/calendario.svg');
    background-repeat: no-repeat;
    margin-top: 6px;
    cursor: pointer;
}

.filter-btn {
    border: 0;
    background-color: #00aa5a;;
    color: #fff;
    font-weight: 700;
    padding: 6px;
    min-width: 88px;
    margin-left: 24px;
}

.filter-span{
    padding-top: 5px;
    padding-right: 5px;
}

.elementFilter-container{
    display: inline-flex;
}

.sampleGroup{
    background-color: #dadbdc;
    margin-top: 32px;
}

.imageLoading {
    position: relative;
    left: 486px;
    top: 16px;
    width: 126px;
    height: 92px;
}

.sample-table-header{
    padding-top:0px;
	padding-bottom:10px;
	font-size: 14px;
	font-weight: 500;
	color:#373737;
}



/* KPI */
.kpi-container {
    width: 50%;
    background-color: white;
    border-radius: 4px;
    height: 170px;
    font-size: 16px;
    font-weight: bold;
    color: #373737;
    margin: 10px 0px 10px 94px;
}

.box-kpi{
    margin-top: 35px;
}

.value-kpi-sum-samples{
    height: 42px;
    width: 137.31px;
    color: #010002;
    font-family: Raleway;
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    text-align: center;
    margin-left: 40px;
    margin-top: 10px;
}


.value-kpi-sum-avgAssertiveness{
    height: 42px;
    width: 137.31px;
    color: #010002;
    font-family: Raleway;
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    text-align: center;
    margin-left: 195px;
    margin-top: 10px;
}


.label-kpi-sum-avgAssertiveness{
    height: 19px;	
    width: 166.51px;	
    color: #666666;	
    font-family: Raleway;	
    font-size: 16px;	
    font-weight: bold;	
    line-height: 19px;
    margin-left: 175px;
}

.label-kpi-sum-samples{
    height: 19px;	
    width: 166.51px;	
    color: #666666;	
    font-family: Raleway;	
    font-size: 16px;	
    font-weight: bold;	
    line-height: 19px;
    margin-left: 20px;
}

.label-desc-kpi-sum-samples{
	height: 21px;	
    width: 100.4px;	
    color: #010002;	
    font-family: Raleway;	
    font-size: 18px;	
    font-weight: bold;	
    line-height: 21px;
    margin-left: 120px;
    margin-top: 3px;
}



