@import "default";
@import "mixins/bar";
body {
    overflow: hidden !important;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.firstBlock {   
    .content {
        .block {
            background: #FFF8DA !important;
        }
    }
}
.header-project, .header-settings, .header-translate {
	display: none;
}

.clientData {
    .infoClient{
        p {
            margin-bottom: 15px;
            font-size: 16px;
        }
    }
    .reloadHistory {
        h4 {
            margin-top: 24px;
            span {
                background: #8923BB;
                border-radius: 5px;
                color: #F8E05F;
                padding: 5px;
            }
        }
        p {
            font-weight: bold;
            font-size: 16px;
        }
        .carousel {
            margin: 10px 0;
            padding: 10px 0;
            // visibility: hidden;
            .slick-list {
                width: 90%;
                margin: 0 auto;
                &:before {
                    content: "";
                    position: absolute;
                    border: 2px solid #8C02A2;
                    top: 26px;
                    width: 100%;
                }
            }
            .slick-prev, .slick-next {
                // outline: 1px solid #000;
            }
            .slick-prev:before, .slick-next:before {
                color: #535353;
            }
            .slick-next {
                right: -10px;
            }
            .slick-prev {
                left: -10px;
            }
            .item {
                display: inline-table;
                // outline: 1px solid #000;
                .rechargeDate {
                    outline: none;
                    .value, .date {
                        line-height: 20px;
                        font-size: 14px;
                        letter-spacing: -0.27px;
                        text-align: center;
                        font-weight: bold;
                        display: block;
                    }
                    i {
                        border: 3px solid #8C02A2;
                        background: #fff;
                        border-radius: 50px;
                        display: block;
                        width: 18px;
                        height: 18px;
                        margin: 0 auto;
                    }
                }
            }
            .carousel-control {
                // outline: 1px solid #000;
                &.left, &.right {
                  background-image: none;
                }
            }
        }        
    }
    .progress_container {
        width: 100%;
        .progress {
            margin-bottom: 0 !important;
        }
    }
}

.chatHistory {
    background: #FAFAFA;
    .search {
        outline: 1px solid #000;
    }
    .history {
        overflow-y: scroll;
        height: 725px;
        min-height: 725px;
        background: url(/ura/img/line-history.png) repeat-y 59px 10px;
        .historyContainer {
            overflow: auto;
            margin-bottom: 20px;
            padding: 10px 0;
            .date, .year {
                padding-right: 0;
                div {
                    font-weight: 600;
                    border-radius: 50px;
                    border: 3px solid #8C02A2;
                    width: 69px;
                    height: 69px;
                    padding-top: 10px;
                    background: #FFF;
                    margin: 0 auto;
                    span {
                        display: block
                    }              
                }
            }
            .date {
                font-size: 16px;
            }
            .year {
                text-align: center;
                padding-left: 30px;
                margin-bottom: 41px;
                font-weight: 100 !important;
                div {
                    margin: initial;
                    background: #8C02A2;
                    color: #fff;
                    line-height: 39px;
                    font-size: 20px;
                }
            }
            .content {
                .block {
                    border: 1px solid #CECECE;
                    border-radius: 5px;
                    padding: 0 16px 0 16px;
                    -webkit-box-shadow: 1px 1px 8px 0px rgba(204,204,204,1);
                    -moz-box-shadow: 1px 1px 8px 0px rgba(204,204,204,1);
                    box-shadow: 1px 1px 8px 0px rgba(204,204,204,1);
                    background: #fff;
                    h5 {
                        text-align: center;
                        color:#8C02A2;
                        font-weight: bold;
                        font-size: 16px;
                    }
                    ul {
                        margin-bottom: 0;
                        li {
                            padding: 16px 0;
                            border-bottom: 1px solid #CECECE;
                            span {
                                img {
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50px;
                                    border: 1px solid #CECECE;
                                }
                            }
                            p {
                                min-height: 40px;
                                display: table;
                                text-align: left;
                                margin-bottom: 0;
                                span {
                                    display: table-cell;
                                    vertical-align: middle;
                                    padding-left:10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.flex-item {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
	align-self: stretch;
}

.flex-item:nth-child(1) {
	background: #fff;
}

.space {
    display: none;
}


.closeTreatment {
    .container {
        position: absolute;
        left: 40%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        text-align: center;
        img.logo {
            margin-bottom: 79px;
        }
        .aguarde {
            width: 60%;
            margin: 0 auto;
            overflow: auto;
            img {
                width: 20%;
                float: left;
            }
            p {
                width: 75%;
                float: left;
                text-align: left;
                margin-left: 15px;
                font-size: 25px;
                line-height: 30px;
                font-weight: 600;
            }
        }
    }
}

.beta-button {
    background-color: #99CC33;
    border-radius: 15px;
    cursor: pointer;
    padding: 7px 24px;
    display: inline;
    color: white;
    font-weight: bold;
    font-size: 11px;
    box-shadow: 1px 1px 8px 0 #ccc;
    margin: 0 8px;
}


// .slick-slider .slick-slide{
//     display: none;
// }
//  .slick-slider .slick-slide:first-child{
//     display: block;
// }
// .slick-initialized.slick-slider .slick-slide,
// .slick-initialized.slick-slider .slick-slide:first-child{
//     display: block;
// }

// .slick-slider .slick-slide{
//     position:absolute;
// }
//  .slick-slider .slick-slide:first-child{
//     position:relative;
// }
// .slick-initialized.slick-slider .slick-slide,
// .slick-initialized.slick-slider .slick-slide:first-child{
//     position:relative;
// }